<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>GamerWolf</title>
</head>
<!-- <body style="background-color: white;"> -->
    <body>
        <header>
            <div class="destaque">
                <img src="imagens/logoGamerWolf.png" alt="Logo da GamerWolf">
                <div class="center">
                <input type="text" class="pesquisar" placeholder="Pesquise aqui...">      
            </div>
                <nav>
                    <a href="login.html">Login</a>
                </nav>
            </header>
            <div class="opcoes">    
                <nav class="opcoesGeral">
                    <a>Computadores</a>
                    <a>Consoles</a>
                    <a>Kit Gamer</a>
                    <a>OUTROS</a>
                </nav>
            </div>
            <div class="carrossel">
                <div class="container" id="img">
                    <img id="foto" src="imagens/foto-1.png" alt="">
                    <img id="foto" src="imagens/foto-2.jpg" alt="">
                    <img id="foto" src="imagens/foto-3.jpg" alt="">
                </div>
            </div>
            <div class="info">
                <h1>Aqui na GamerWolf você encontra as melhores promoções e descontos de qualquer tipo de periférico gamer, Navegue pela nossa loja online e veja VARIEDADES de varios consoles e Kits Gamers!!!</h1>
            </div>
            <div class="carrossel2">
                <div class="container2" id="img2">
                    <img id="foto2" src="imagens/foto-mouse.png" alt="">
                    <img id="foto2" src="imagens/foto-fone.png" alt="">
                    <img id="foto2" src="imagens/foto-cadeira.png" alt="">
                </div>
                </div>   
            <footer>
        <p>&copy;GamerWolf</p>
        <a href="https://web.whatsapp.com" target="_blank" rel="noopener noreferrer">
            <img src="./imagens/Imagem whatss.svg"></img>
        </a>
        <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
            <img src="./imagens/Imagem Insta.svg"></img>
        </a>
        <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
            <img src="./imagens/Imagem face.svg"></img>
        </a>
       </footer>
</body>
<script src="script.js" defer></script>
</html>
<router-outlet></router-outlet>
